// colors
$primary: #111d5e;
$secondary: #b21f66;
$tertiary: #fe346e;
$quaternary: #ffbd69;
$disabled: #ebebeb;

// spacing
$xsmall: 0.8rem;
$small: 1.2rem;
$medium: 1.6rem;
$large: 3.2rem;
$xlarge: 4.8rem;

// breakpoints
$mobile-breakpoint: "(max-width: 499px)";
$tablet-breakpoint: "(min-width: 500px) and (max-width: 1000px)";
$desktop-breakpoint: "(min-width: 1001px)";
